<div class="col-xs-12 highlight ">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-5">
                <input type="text" class="form-control" placeholder="Host Name" [(ngModel)]="hostName">
                <span *ngIf="showErrorName" class="text-danger">Please enter valid Host Name</span>
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control" placeholder="Loopback" [(ngModel)]="loopBack">
                <span *ngIf="showErrorIp" class="text-danger">Please enter valid IP address</span>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-default" (click)="addHost()">Add</button>
            </div>
            <div class="col-xs-12">
                <span *ngIf="hostNotUnique" class="text-danger">Host name or Lookback is alreay added</span>
            </div>
        </div>
    </div>
</div>