<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    <h4>Host Name</h4>
                </div>
                <div class="col-xs-4">
                    <h4>Lookback</h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <add-host (onNewAdd)="onNewAdd($event)"></add-host>
        </div>
    </div>
    <list-host [hostList]="hostDetails" (remove)="remove($event)"> </list-host>
</div>